.CompaniesComTitle{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.ComCrouselOuter{
    padding: 2px;
    
}
.wholeCompWrapper{
    padding-bottom: 80px;
}
